/* common
================================================= */

html,body{
  width:100%; 
  height:100%;
  padding:0px;
  margin:0px;
  background: url(../img/bg_daimon2.png) no-repeat center bottom 0,url(../img/bg.png) repeat left top;
  background-size: 55%,200px;
  background-attachment: fixed,fixed;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
}

body:after{
  content: "";
  position: fixed;
  right: -89px;
  bottom: -70px;
  background: url(../img/bg_baloon_2.png) no-repeat left top;
  background-size: 400px;
  width: 400px;
  height: 420px;
  z-index: 1;
}

#wrapper{
  position: relative;
  z-index: 2;
}

section{
  margin: 0 auto;
}

#projector {
  position: fixed; 
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
} 

.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin-left: -23px;
}

.line-scale,.ball-scale{
  transform: scale(2);
}

/* header
================================================= */
header{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header .headerIn{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

header .headerIn h1{
  width: 1200px;
  height: 800px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

header h2{
  width: 100%;
  padding: 30px;
  margin: 200px 0 300px;
  font-family: 'Noto Serif JP', serif;
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 500;
  color: #fff;
  background: rgb(45 32 6);
  position: relative;
}

header h2 p{
  position: relative;
  display: inline-block;
}

header h2 p:before{
  content: "";
  position: absolute;
  top: 50%;
  left: -150px;
  margin-top: -20px;
  background: url(../img/icon_rank_w.svg) no-repeat center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  padding-top: 26px;
  box-sizing: border-box;
}

header h2 p:after{
  content: "";
  position: absolute;
  top: 50%;
  right: -150px;
  margin-top: -20px;
  background: url(../img/icon_rank_w.svg) no-repeat center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  padding-top: 26px;
  box-sizing: border-box;
}


/* footer
================================================= */

footer{
  width: 100%;
  /* height: 500px; */
  /* background: rgba(0,0,0,1); */
  text-align: center;
  padding: 100px 0;
  color: #fff;
  margin: 0 auto 0px;
  position: relative;
}


/* main
================================================= */

main{
  width: 100%;
}

main section{
  width: 1200px; 
  counter-reset: number 0;
  margin-bottom:200px;
  padding-left: 170px;
}

main section h3{
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
  color: #fff;
  margin-bottom: 100px;
  /* border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2); */
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

main section h3:before{
  content: "";
  position: absolute;
  left: 60px;
  bottom: -40px;
  background: url(../img/bg_baloon.png) no-repeat left top;
  background-size: 70px;
  width: 70px;
  height: 70px;
  z-index: 3;
}

main section dl:before {
  counter-increment: number 1;
  content: counter(number) "位";
}

main section#rank{
}

main section#rank .rankIn{
  margin: 0px auto;
}

/* top3 */

main section .top3{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

main section .top3 dl:before{
  font-size: 1.8rem;
  color: #fff;
  display: block;
  position: absolute;
  top: -25px;
  left: -20px;
  background: url(../img/icon_rank.svg) no-repeat center;
  background-size: 90px 90px;
  width: 90px;
  height: 90px;
  padding-top: 26px;
  box-sizing: border-box;
}

main section .top3 dl.ranking{
  padding: 50px;
  margin-right: 50px;
  background: #fff url(../img/bg_rank.jpg) repeat left top;
  border-radius: 5px;
  position: relative;
  width: 33%;
}

main section .top3 dl.ranking:last-child{
  margin-right: 0;
}

main section .top3 dl.ranking dt{
  margin-bottom: 10px;
}

main section .top3 dl.ranking dt h4{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

main section .top3 dl.ranking dt p{
  font-size: 1rem;
}

main section .top3 dl.ranking dd{
  font-size: 3rem;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.2);
}


/* under rank */

main section .under_rank{
  background: #fff url(../img/bg_rank.jpg) repeat left top;
  border-radius: 5px;
  padding: 70px;
}

main section .under_rank dl{
  display: flex;
  padding: 30px 30px 30px 100px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(20, 20, 20, 0.2);
  position: relative;
}

main section .under_rank dl:last-child{
  border-bottom: none;
}

main section .under_rank dl:before{
  font-size: 1.1rem;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -30px;
  background: url(../img/icon_rank.svg) no-repeat center;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  padding-top: 18px;
  box-sizing: border-box;
}

main section .under_rank dl dt{
  text-align: left;
  display: flex;
}

main section .under_rank dl dt h4{
  width: 400px;
}

main section .under_rank dl dt p{
  width: 200px;
}

main section .under_rank dl dd{
  width: 200px;
  font-size: 1.3rem;
}

main section .under_rank dl:nth-child(odd){
  background: transparent;
}

main section .under_rank dl:nth-child(even){
  background: transparent;
  /* background: rgba(204,204,204,.9); */
}

main section .under_rank dl dt{
  
}

/* comment */
main section#comment{
  text-align: center;
}

main section#comment p{
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 50px 0;
  text-align: left;
  display: inline-block;
  width: 100%;
}


/* form */
main section#form{
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

main section#form .formIn{
  text-align: center;
  margin: 0 auto;
  padding: 80px 0 50px;
  position: relative;
  background: #fff url(../img/bg_rank.jpg) repeat left top;
  border-radius: 5px;
}

/* Javascript
=========================================================*/
.fade_off {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateY(30px);
}

.fade_on {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeup {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}