/* common
================================================= */

html,body{
  width:100%; 
  height:100%;
  padding:0px;
  margin:0px;
  background: url(../img/bg_daimon2.png) no-repeat center bottom 0,url(../img/bg.png) repeat left top;
  background-size: 55%,200px;
  background-attachment: fixed,fixed;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
}

body:after{
  content: "";
  position: fixed;
  right: -89px;
  bottom: -70px;
  background: url(../img/bg_baloon_2.png) no-repeat left top;
  background-size: 400px;
  width: 400px;
  height: 420px;
  z-index: 1;
}

#wrapper{
  position: relative;
  z-index: 2;
}

section{
  margin: 0 auto;
}

#projector {
  position: fixed; 
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
} 

.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin-left: -23px;
}

.line-scale,.ball-scale{
  transform: scale(2);
}

/* header
================================================= */
header{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header .headerIn{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

header .headerIn h1{
  width: 1200px;
  height: 900px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

header h2{
  width: 100%;
  padding: 30px;
  margin: 200px 0 300px;
  font-family: 'Noto Serif JP', serif;
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 500;
  color: #fff;
  background: rgb(45 32 6);
  position: relative;
}

header h2 p{
  position: relative;
  display: inline-block;
}

header h2 p:before{
  content: "";
  position: absolute;
  top: 50%;
  left: -150px;
  margin-top: -20px;
  background: url(../img/icon_rank_w.svg) no-repeat center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  padding-top: 26px;
  box-sizing: border-box;
}

header h2 p:after{
  content: "";
  position: absolute;
  top: 50%;
  right: -150px;
  margin-top: -20px;
  background: url(../img/icon_rank_w.svg) no-repeat center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  padding-top: 26px;
  box-sizing: border-box;
}


/* footer
================================================= */

footer{
  width: 100%;
  /* height: 500px; */
  /* background: rgba(0,0,0,1); */
  text-align: center;
  padding: 100px 0;
  color: #fff;
  margin: 0 auto 0px;
  position: relative;
}

footer br{
  display: none;
}

/* main
================================================= */

main{
  width: 100%;
}

main section{
  width: 1200px; 
  counter-reset: number 0;
  margin-bottom:200px;
  padding-left: 170px;
}

main section h3{
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
  color: #fff;
  margin-bottom: 100px;
  /* border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2); */
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

main section h3:before{
  content: "";
  position: absolute;
  left: 60px;
  bottom: -40px;
  background: url(../img/bg_baloon.png) no-repeat left top;
  background-size: 70px;
  width: 70px;
  height: 70px;
  z-index: 3;
}

main section#rank dl{
  cursor: pointer;
  position: relative;
}

main section#rank dl:before{
  counter-increment: number 1;
  content: counter(number) "位";
}

main section#rank .rankIn{
  margin: 0px auto;
}

/* top3 */

main section .top3{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

main section#rank .top3 dl:hover{
  color: #2d57a3;
}

main section#rank .top3 dl:hover:after{
  /* border-top: 1px solid rgba(20, 20, 20, 0.2);
  border-bottom: 1px solid rgba(20, 20, 20, 0.2); */
  padding: 3px 0px 3px 30px;
  content: "View Youtube";
  color: #333;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15px;
  right: 25px;
  background: url(../img/youtube.svg) no-repeat left 1px top 2px;
  background-size: 20px;
}


main section .top3 dl:before{
  font-size: 1.8rem;
  color: #fff;
  display: block;
  position: absolute;
  top: -25px;
  left: -20px;
  background: url(../img/icon_rank.svg) no-repeat center;
  background-size: 90px 90px;
  width: 90px;
  height: 90px;
  padding-top: 26px;
  box-sizing: border-box;
}

main section .top3 dl.ranking{
  padding: 50px;
  margin-right: 50px;
  background: #fff url(../img/bg_rank.jpg) repeat left top;
  border-radius: 5px;
  position: relative;
  width: 33%;
}

main section .top3 dl.ranking:last-child{
  margin-right: 0;
}

main section .top3 dl.ranking dt{
  margin-bottom: 10px;
}

main section .top3 dl.ranking dt h4{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

main section .top3 dl.ranking dt p{
  font-size: 1rem;
}

main section .top3 dl.ranking dd{
  font-size: 3rem;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.2);
}


/* under rank */

main section .low_rank{
  background: #fff url(../img/bg_rank.jpg) repeat left top;
  border-radius: 5px;
  padding: 70px;
}

main section .low_rank dl{
  display: flex;
  padding: 30px 30px 30px 100px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(20, 60, 105, 0.2);
  position: relative;
}

main section#rank .low_rank dl:hover{
  background: rgba(20, 20, 20, 0.1);
}

main section#rank .low_rank dl:hover:after{
  content: "";
  position: absolute;
  bottom: 15px;
  right: 25px;
  background: url(../img/youtube.svg) no-repeat left top;
  background-size: 30px;
  width: 40px;
  height: 40px;
}

main section .low_rank dl:last-child{
  border-bottom: none;
}

main section .low_rank dl:before{
  font-size: 1.1rem;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -30px;
  background: url(../img/icon_rank.svg) no-repeat center;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  padding-top: 18px;
  box-sizing: border-box;
}

main section .low_rank dl dt{
  text-align: left;
  display: flex;
}

main section .low_rank dl dt h4{
  width: 400px;
}

main section .low_rank dl dt p{
  width: 200px;
}

main section .low_rank dl dd{
  width: 200px;
  font-size: 1.3rem;
}

main section .low_rank dl:nth-child(odd){
  background: transparent;
}

main section .low_rank dl:nth-child(even){
  background: transparent;
  /* background: rgba(204,204,204,.9); */
}

main section .low_rank dl dt{
  
}

/* comment */
main section#comment{
  text-align: center;
}

main section#comment p{
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 50px 0;
  text-align: left;
  display: inline-block;
  width: 100%;
}


/* form */
main section#form{
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

main section#form .formIn{
  text-align: center;
  margin: 0 auto;
  padding: 80px 50px 50px;
  position: relative;
  background: #fff url(../img/bg_rank.jpg) repeat left top;
  border-radius: 5px;
}

main section#form .formIn p{
  margin-bottom: 40px;
  margin-top: 15px;
}

main section#form .formIn dl{
  display: flex;
  margin-bottom: 30px;
}

main section#form .formIn form{
  width: 650px;
  margin: 0 auto ;
}

main section#form .formIn dl label{
  font-size: 1.5rem;
}

main section#form .formIn dl dt{
  width: 20%;
  text-align: left;
  padding-top: 14px;
}

main section#form .formIn dl dd{
  width: 80%;
  text-align: left;
}

main section#form .formIn dl select,
main section#form .formIn dl textarea{
  width: 100%;
  border: 1px solid rgba(20, 20, 20, 0.2);
  padding: 15px;
}

main section#form .formIn .outline{
 text-align: left;
 width: 800px;
 /* border: 1px solid rgba(20, 20, 20, 0.2); */
 background: rgb(49,108,140,.1);
 padding: 30px;
 margin:0 auto 60px;
}

main section#form .formIn .outline h4{
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  text-align: center;
}

main section#form .formIn .outline ul li{
  margin-bottom: 20px;
  font-size: 1.1rem;
  position: relative
}

main section#form .formIn .outline li.underline{
  text-decoration:underline;
}

main section#form .formIn .outline ul li:before{
  content: "";
  display: inline-block;
  margin-right: 10px;
  background: url(../img/icon_rank.svg) no-repeat center;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
}

main section#form .formIn button {
  border-radius: 0;
  display: inline-block;
  position: relative;
  padding: 15px 40px;
  font-size: 1.4rem;
  margin: 30px 0;
}

main section#form .formIn button:before,
main section#form .formIn button:after {
  position: absolute;
  width: 100%;
  height: 1px;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: rgba(20, 20, 20, 0.6);;
}

main section#form .formIn button:before {
  top: 0;
  left: 0;
}

main section#form .formIn button:after {
  right: 0;
  bottom: 0;
}

main section#form .formIn button:hover:before,
main section#form .formIn button:hover:after {
  width: 0;
}


/* Javascript
=========================================================*/
.fade_off {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateY(30px);
}

.fade_on {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeup {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}



/* SP
=========================================================*/

@media (max-width: 480px){

  /* reset */
  header .headerIn h1,
  header h2,
  html header .headerIn,
  html main section,
  main section .low_rank dl dt h4,
  main section .low_rank dl dt p,
  main section .low_rank dl dd{
    width: auto;
  }

  main,header,footer{ overflow: hidden;}

  /* header{ display: none;}
  main{ display: none;}
  footer{ display: none;} */


  /* body */
  html,body{
    background: #000 url(../img/bg_daimon2.png) no-repeat center bottom,url(../img/bg.png) repeat left top;
    background-size: 90%,200px;
    background-attachment: fixed,fixed;
  }
  
  body:after{
    display: none;
    right: -40px;
    bottom: 220px;
    background: url(../img/bg_baloon_2.png) no-repeat left top;
    background-size: 310px;
    width: 310px;
    height: 238px;
  }


  /* header */
  html header{
    margin-bottom: 200px;
  }

  html header .headerIn{
    margin-bottom: 100px;
  }
  html header .headerIn h1{
    height: auto;
    display: block;
    padding-top: 100px;
    padding-bottom: 200px;
  }

  html header .headerIn img{
    height: 350px;
  }

  html header h2{
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 0;
    padding: 30px 0;
  }

  header h2 p:before{
    top: 50%;
    left: -40px;
    margin-top: -20px;
    background: url(../img/icon_rank_w.svg) no-repeat center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;

  }
  
  header h2 p:after{
    top: 50%;
    right: -40px;
    margin-top: -20px;
    background: url(../img/icon_rank_w.svg) no-repeat center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }


  /* footer */
  html footer{
    line-height: 1.6rem;
    width: 100%;
    text-align: center;
    padding: 50px 10px;
    background: rgb(45 32 6);
  }

  html footer br{
    display: block;
  }


  /* main */
  html main section{
    padding:0 20px;
  }

  html main section h3{
    font-size: 2.53rem;
    line-height: 3rem;
    height: auto;
    width: 50px;
    position: relative;
    font-weight: 200;
    margin: 0 auto 100px;
  }

  html main section h3:before{
    left: 30px;
    bottom: -40px;
  }

  html main section .top3{
    display: block;
  }

  html main section .top3 dl.ranking{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  main section#rank .top3 dl:after{
    padding: 3px 0px 3px 30px;
    content: "View Youtube";
    color: #333;
    font-size: 0.9rem;
    position: absolute;
    bottom: 15px;
    right: 25px;
    background: url(../img/youtube.svg) no-repeat left 1px top 2px;
    background-size: 20px;
  }

  html main section .low_rank{
    padding: 10px;
  }

  html main section .low_rank dl dt{
    display: block;
    width: 70%;
  }

  main section .low_rank dl dt h4{
    font-size: 1rem;
    margin-bottom: 10px;
  }

  main section .low_rank dl dt p{
    font-size: 1rem;
  }

  html main section .low_rank dl dd{
    width: 30%;
    font-size: 1rem;
    padding-top: 15px;
  }

  main section#rank .low_rank dl:hover:after{
    display: none;
  }


  /* comment */
  html main section#comment p{
    padding:35px 0;
    font-size: 1rem;
  }


  /* form */
  html main section#form{
    margin-bottom: 200px;
  }

  html main section#form .formIn{
    padding: 40px 30px;
  }

  html main section#form .formIn p{
    margin-bottom: 20px;
  }

  html main section#form .formIn .outline{
    width: auto;
    margin-bottom: 20px;
  }

  html main section#form .formIn .outline ul li{
    font-size: 1rem;
    margin-bottom: 15px;
  }

  html main section#form .formIn .outline ul li:before {
    text-align: center;
    margin: 0 auto 15px;
    display: block;
  }

  main section#form .formIn form{
    width: auto;
  }

  html main section#form .formIn dl{
    display: block;
    margin-bottom: 15px;
  }

  html main section#form .formIn dl dt,
  html main section#form .formIn dl dd{
    width: auto;
  }

  html main section#form .formIn dl select,
  html main section#form .formIn dl textarea{
    padding: 10px;
  }

  html main section#form .formIn dl dt{
    margin-bottom: 10px;
  }

  html main section#form .formIn dl label{
    font-size: 1.1rem;
  }


}